<!DOCTYPE html>
<html ng-app="maia">
  <head>
    <link href="css/jquery-ui.css" rel="stylesheet"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/select2.css" rel="stylesheet"/>
    <link href="css/animations.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>

    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery-scrollintoview.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-ui.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/ui-bootstrap-0.js"></script>
    <script src="js/raphael-min.js"></script>
    <script src="js/dracula_graffle.js"></script>
    <script src="js/dracula_graph.js"></script>
    <script src="js/dracula_algorithms.js"></script>
    <script src="//apis.google.com/js/client.js"></script>
    <script src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('picker', '1');
    </script>
    <script src="js/app.js"></script>
  </head>
  <body>

<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarController">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Model
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a ng-click="newModel()">New</a></li>
          <li class="divider" ng-show="metadata.savedRevision"></li>
          <li><a ng-click="open()">Open</a></li>
          <li class="divider" ng-show="metadata.savedRevision"></li>
          <li><a ng-click="save()">Save</a></li>
          <li ng-show="metadata.savedRevision"><a ng-click="rename()">Rename</a></li>
          <li ng-show="metadata.savedRevision"><a ng-click="copy()">Copy</a></li>
        </ul>
       </li>
    </ul>
    <div class="pull-right model-status">
      <span ng-show="(metadata.revision == metadata.savedRevision) && metadata.revision" class="model-status-clean">
        {{formattedTitle2}}
      </span>
      <span ng-show="(metadata.revision != metadata.savedRevision) && metadata.savedRevision" class="model-status-dirty">
        {{formattedTitle1}} has unsaved changes.
      </span>
      <span ng-show="(metadata.revision != metadata.savedRevision) && !metadata.savedRevision" class="model-status-dirty">
        {{formattedTitle1}} has never been saved.
      </span>
      <a ng-click="save()" ng-show="(metadata.revision != metadata.savedRevision) && !saving" class="model-status-savenow">
        Save now
      </a>
      <span ng-show="saving" class="model-status-saving">
        Saving...
      </span>
    </div>
  </div>
</div>

<div class="container-fluid container-main">
  <div class="row-fluid">
    <div class="span3 main-nav">
      <ul class="nav nav-list affix">
        <li class="nav-header">Collective structure</li>
        <li><a href="#/list/agent">Agents</a><li>
        <li class="nav-header">Constitutional structure</li>
        <li><a href="#/list/role">Roles</a><li>
        <li><a href="#/list/institution">Institutions</a><li>
        <li><a href="#/graph/dependency">Dependencies</a><li>
        <li class="nav-header">Physical structure</li>
        <li><a href="#/list/physical_component">Physical components</a><li>
        <li><a href="#/graph/connection">Physical connections</a><li>
        <li><a href="#/graph/composition">Physical composition</a><li>
        <li class="nav-header">Operational structure</li>
        <li><a href="#/list/entity_action">Entity actions</a><li>
        <li><a href="#/list/plan">Plans</a><li>
        <li><a href="#/list/action_situation">Action situations</a><li>
        <li><a href="#/list/role_enactment">Role enactments</a><li>
        <li><a href="#/list/action_arena">Action arena</a><li>
        <li class="nav-header">Evaluative structure</li>
        <li><a href="#/list/problem_domain_variable">Problem domain evaluation</a><li>
        <li><a href="#/matrix/problem_domain_variable">Problem domain matrix</a><li>
        <li><a href="#/list/validation_variable">Validation</a><li>
        <li><a href="#/matrix/validation_variable">Validation matrix</a><li>
      </ul>
    </div>
    <div class="span6" ng-view></div>
    <div class="span3 help" ng-controller="HelpController">
      <div class="help-inner">
        <ng-include src='helpUrl'></ng-include>
      </div>
    </div>
  <div>
</div>

  </body>
</html>
