<div class="modal-header">
<ng-switch on="!item._id">
  <h1 ng-switch-when="true">Create {{type}}</h1>
  <h1 ng-switch-default>Edit {{type}}</h1>
</ng-switch>
</div>
<div class="modal-body">
<div ng-repeat="error in errors" class="alert alert-error">{{error}}</div>
<ng-include src="formUrl" />
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng:click="save()">
    <i class="icon-ok icon-white"></i> Save
  </button>
  <button class="btn" ng:click="cancel()">
    <i class="icon-ban-circle"></i> Cancel
  </button>
</div>;
