<div ng-controller="GenericRecordController">
  <text-field label="Label" model="item" prop="label" mode="mode" primary="primary"></text-field>
  <remote-select-field label="Attributes" model="item" prop="attributes" type="role" multiple="multiple" mode="mode" formatter="label" creator='label' creator-dialog="true"></remote-select-field>
  <text-field label="Deontic type" model="item" prop="deontic_type" mode="mode"></text-field>
  <remote-select-field label="Aim" model="item" prop="aim" type="plan" mode="mode" formatter="label" creator='label' creator-dialog="true"></remote-select-field>
  <text-field label="Condition" model="item" prop="condition" mode="mode"></text-field>
  <remote-select-field label="Or else" model="item" prop="or_else" type="institution" mode="mode" formatter="label" creator='label' creator-dialog="true"></remote-select-field>
</div>
