<div>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="btn-group">
        <button class="btn" ng:click="createRecord()"><i class="icon-plus-sign"></i> Add {{_class}}...</button>
      </div>
      <div class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Search" ng-model="query" />
      </div>
    </div>
  </div>

  <div ng-repeat="item in items | orderBy:'label' | filter:query" ng-controller="ListFormController">
    <div class="card" ng:class="{'animated shake': hasErrors}">
      <div class="card-inner">
        <div class="card-form card-form-{{mode}}" ng:click="open($event)">
          <div ng-repeat="error in errors" class="alert alert-error">{{error}}</div>
          <ng-switch on="mode">
            <ng-include src="recordTemplateUrl"></ng-include>
            <span ng-switch-when="view"></span>
            <div ng-switch-default class="card-button-bar">
              <div class="card-button-group-right">
                <button class="btn btn-primary" ng:click="save($event)">
                  <i class="icon-ok icon-white"></i> Save
                </button>
                <button class="btn" ng:click="revert($event)">
                  <i class="icon-ban-circle"></i> Cancel
                </button>
              </div>
              <div class="card-button-group-left">
                <button class="btn" ng:click="delete($event)">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </div>
          </ng-switch>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="NewRecordController">
    <ng-switch on="mode">
      <div ng-switch-when="view" >
        <a href="#" ng-click="open($event)">Add {{_class}}...</button>
      </div>
      <div ng-switch-default class="card" ng:class="{'animated shake': hasErrors}">
        <div class="card-inner card-inner">
          <div class="card-form card-form-{{mode}}">
            <div ng-repeat="error in errors" class="alert alert-error">{{error}}</div>
            <ng-include src="recordTemplateUrl"></ng-include>
            <div class="card-button-bar">
              <div class="card-button-group-right">
                <button class="btn btn-primary" ng:click="save($event)">
                  <i class="icon-ok icon-white"></i> Save
                </button>
                <button class="btn" ng:click="revert($event)">
                  <i class="icon-ban-circle"></i> Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-switch>
  </div>
</div>