
<table class="table table-bordered matrix">
  <thead>
    <tr>
       <td></td>
       <th ng-repeat="ent in entity_actions">{{ent.label}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in items" ng-controller="MatrixDependentVariableController">
      <th>{{dependentVariable.label}}</th>
      <td ng-repeat="ent in entity_actions" ng-controller="MatrixValueController">
        <select select2 ng-model='value'>
          <option value='direct'>direct</option>
          <option value='indirect'>indirect</option>
          <option value=''>none</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
