<div ng-controller="GenericRecordController">
  <text-field label="Label" model="item" prop="label" mode="mode"></text-field>
  <remote-select-field label="Agent" model="item" prop="agent" type="agent" mode="mode" formatter="label" creator='label' creator-dialog="true"></remote-select-field>
  <remote-select-field label="Role" model="item" prop="role" type="role" mode="mode" formatter="label" creator='label' creator-dialog="true"></remote-select-field>
  <remote-select-field label="Entity action" model="item" prop="entity_action" type="entity_action" mode="mode" formatter="label" creator='label' creator-dialog="true"></remote-select-field>
</div>
