<field label="Label">
  <input type="text" ng-model="item.label" />
</field>
<field label="Objectives">
  <input type="hidden" ng-model="item.objectives" multiple="multiple" maia-select maia-class="objective" style="width: 100%"/>
</field>
<field label="Institutions">
  <input type="hidden" ng-model="item.institutions" multiple="multiple" maia-select maia-class="institution" style="width: 100%"/>
</field>
<field label="Entry conditions">
  <input type="text" ng-model="item.entry_conditions" />
</field>
<field label="Institutional capabilities">
  <input type="hidden" ng-model="item.institutional_capabilities" multiple="multiple" ui-select2="{tags:[]}" style="width: 100%"/>
</field>
